---
layout: home
title: US Immigration Services &edash Citizenship, Green Card, Asylum...
summary: Get your US Citizenship, Green Card, Work Visas or a business or tourist visa for the United States. We practice US immigration law across all 50 states and deliver...
tags: [free, immigration, services, pro bono]
---

{% include head.html %} {% include navigation.html %}

<div class="bodykey__divcontainer--intro">
  <h1 class="bodykey__h1--intro">FREE IMMIGRATION SERVICES</h1>
  <p class="bodykey__p--intro">
    Every year we select a small number of cases based on the financial need or
    special circumstances of an applicant and provide our services for FREE on a
    Pro Bono basis. In other words, you do not pay any fees aside from fees paid
    to the government to process your immigration application. If you would like
    to participate in our Pro Bono Program, click on the button below.
  </p>
  <div class="bodykey__divbtn--omni">
    <a
      class="bodykey__button--omni"
      href="https://docs.google.com/forms/d/e/1FAIpQLScEMzT_CHdhAY30MTuxq8vdua__s0IAhu6J3x6GQDAz0kc8wQ/viewform?usp=sf_link"
    >
      Apply Now!
    </a>
  </div>
</div>

<div class="bodyplus__divcontainer--intro">
  <picture class="bodyplus__pictureimg--intro">
    <source
      media="(min-width:650px)"
      srcset="/assets/images/aila-logo-259w-385h.png"
      class="bodyplus__source--intro"
    />
    <source
      media="(min-width:465px)"
      srcset="/assets/images/aila-logo-259w-385h.png"
      class="bodyplus__source--intro"
    />
    <img
      src="/assets/images/aila-logo-259w-385h.png"
      alt="logo with image of the face of the statute of liberty together with the inscription American Immigration Lawyers Association"
      style="width: auto;"
      class="bodyplus__img--intro"
    />
  </picture>
</div>
<div class="bodyplus__divbox--intro">
  <h3 class="bodyplus__h3--intro">
    Members of the American Immigration Lawyers Association
  </h3>
  <h3 class="bodyplus__h3--intro">
    Authorized to Practice Immigration Law in all 50 States
  </h3>
</div>
<div class="testimonial">
  <div class="card">
    <div class="layer"></div>
    <div class="content">
      <p class="quote">
        “I applied to their pro bono program and got an immigration lawyer at
        Pinson Legal Services to review my case and prepare my asylum
        application. They did a great job! Thank you.”
      </p>
      <div class="image">
        <img
          src="/assets/images/fernando-y-testimonial-128w-128h.png"
          alt="avatar"
        />
      </div>
      <div class="details">
        <h6>Fernando Y.</h6>
        <span>Honduras</span>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="layer"></div>
    <div class="content">
      <p class="quote">
        “I needed to get my Green Card renewed but was worried about President
        Trump's directive to stop immigration. I applied to the Pro Bono Program
        of Pinson Legal Services and got one of their immigration lawyers to
        prepare my green card renewal application totally free. Thank you!!!"
      </p>
      <div class="image">
        <img
          src="/assets/images/lenny-s-testimonial-128w-128h.png"
          alt="avatar"
        />
      </div>
      <div class="details">
        <h6>Lenny S.</h6>
        <span>Dominican Republic</span>
      </div>
    </div>
  </div>
</div>
</div>

{% include disclaimer-en.html %} {% include footer-en.html %}
